//- inspired by Snippet by suneelrajpoot44 https://bootsnipp.com/snippets/featured/message-chat-box

html
  head
    link#bootstrap-css(href='/node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    // ---- Include the above in your HEAD tag --------
    link(href='/css/chatstyle.css', type='text/css', rel='stylesheet')
  body
    if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
    .container
      h3 
      .messaging
        .inbox_msg
          .mesgs
            .msg_history
              each chat, i in chatList
                if chat[1]==receiver
                  .incoming_msg
                    .incoming_msg_img
                      img(src='/pics/profile.png', alt='sunil')
                    .received_msg
                      .received_withd_msg
                        p= chat[3]
                        span.time_date 
                          p6= prettyDate(chat[2])
                if chat[0]==receiver
                  .outgoing_msg
                    .sent_msg
                      p= chat[3]
                      span.time_date
                        p6= prettyDate(chat[2])
            .type_msg
              .input_msg_write
                form(method='POST', action='/chat/'+receiver)
                    #form-group
                    label(for='chat')
                    textarea.form-control(type='text', name='chat', placeholder='Type a message')
                    br
                    input.btn.btn-primary.btn-sm(type='submit',value='Send')


                        
       
-function prettyDate(dateString){
    -var date = new Date(dateString);
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -var h = date.getHours();
    -var min = date.getMinutes();
    -var s = date.getSeconds();
    -return d+' '+m+' '+y+' '+h+':'+min+':'+s;
-}

