//- inspired by suneelrajpoot44 Bootsnipp https://bootsnipp.com/snippets/E1nNa
extends layout
    
block content
    br
    h3 My Contacts
    br
    br
    .container
        ul#myTab.nav.nav-tabs.mb-4(role='tablist')
            li.nav-item
                a#basicInfo-tab.nav-link(data-toggle='tab', href='#privateMessages', role='tab', aria-controls='privateMessages', aria-selected='true') Private
            li.nav-item
                a#basicInfo-tab.nav-link(data-toggle='tab', href='#groups', role='tab', aria-controls='groups', aria-selected='true') Group
            li.nav-item
                a#basicInfo-tab.nav-link(data-toggle='tab', href='#makeGroup', role='tab', aria-controls='makeGroup', aria-selected='true') Make a Group
            li.nav-item
                a#basicInfo-tab.nav-link.active(data-toggle='tab', href='#search', role='tab', aria-controls='search', aria-selected='true') Search a User
            li.nav-item
                a#basicInfo-tab.nav-link(data-toggle='tab', href='#admin', role='tab', aria-controls='admin', aria-selected='true') Admin
        #myTabContent.tab-content.ml-1
            #privateMessages.tab-pane.fade.show(role='tabpanel', aria-labelledby='privateMessages-tab')
                each user, i in userList
                    if userArr[0]!=user[0]
                        .row
                            .col-sm-3.col-md-2.col-5
                                img.img.img-rounded.img-fluid(src='/pics/1.png', style='width:40%')
                            .col-md-8.col-6
                                h3= user[1] + ' ' + user[2]
                            button.btn.btn-primary.btn-sm(type='button',onclick="window.open('/chat/"+user[0]+"', 'newwindow', 'width=600,height=650'); return false;") Send a message
                        hr
            
            #groups.tab-pane.fade.show(role='tabpanel', aria-labelledby='groups-tab')
                form(action='/contacts', method='post')
                    each id, i in groupList
                        .row
                            .col-md-8.col-6
                                button.btn.btn-success.btn-sm(type='button',onclick="window.open('/groupchat/"+id.GroupId+"', 'newwindow', 'width=600,height=650'); return false;") Send a message to the #{id.Title}
                        hr
            #makeGroup.tab-pane.fade.show(role='tabpanel', aria-labelledby='makeGroup-tab')   
                form#groupForm.groupForm(method='post', action='/contacts')
                    .form-group
                        text(style= 'font-size: 1.5rem') Group Name:
                        input#name.form-control(type='text', name='groupName', placeholder='Enter Name for Group')                        
                    //- hr
                    //- .row
                    //-     input(type='checkbox', name='myId', value=userArr[0], checked='')
                    //-     text= userArr[2] + ' ' + userArr[3] 
                    hr
                    each user, i in userList
                        if userArr[0]!=user[0]
                            .row
                                
                                .input-group
                                    //- .input-group-prepend
                                        //- .input-group-text
                                        //-     input(type='checkbox')
                                        //- input.form-control(type='text', name='userId[]', value=user[1] + ' ' + user[2])
                                    input(type='checkbox', name='userId[]', value=user[0],)
                                    t= user[1] + ' ' + user[2]
                            hr
                    input.btn.btn-success(type='submit', value='Create',style='height: 40px; width: 130px')
            #search.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='Search-tab')
                br
                text(style= 'font-size: 1rem; font-weight: bold') Search a user: 
                form.form-inline.my-2.my-lg-0(action='/searchuser', method='post')
                    input.form-control.mr-sm-2(type='text',name='SearchUser', placeholder='Search', aria-label='Search')
                    button.btn.btn-outline-success.my-2.my-sm-0(type='submit',style='height: 40px; width: 130px') Search
                hr
                if searchResult
                    if JSON.stringify(searchResult)=='[]'
                        text no result...
                    each user, i in searchResult
                        //- if userArr[0]!=user[0]
                        .row
                            .col-sm-3.col-md-2.col-5
                                img.img.img-rounded.img-fluid(src='/pics/3.jpg', style='width:60%')
                        .row
                            .col-sm-3.col-md-2.col-5
                                label(style='font-size: 1.3rem; font-weight:bold;') Full Name:
                            .col-md-8.col-6
                                p(style='font-size: 1.3rem; font-weight:bold;')= user.FirstName + ' ' + user.LastName
                            hr
                        .row
                            .col-sm-3.col-md-2.col-5
                                label(style='font-size: 1.3rem; font-weight:bold;') UserID:
                            .col-md-8.col-6
                                p(style='font-size: 1.3rem; font-weight:bold;')= user.Id
                            hr
                        .row
                            .col-sm-3.col-md-2.col-5
                                label(style='font-size: 1.3rem; font-weight:bold;') Email:
                            .col-md-8.col-6
                                p(style='font-size: 1.3rem; font-weight:bold;')= user.Email
                            hr
                        .row
                            .col-sm-3.col-md-2.col-5
                                label(style='font-size: 1.3rem; font-weight:bold;') User type:
                            .col-md-8.col-6
                                if (user.Type=='P')
                                    p(style='font-size: 1.3rem; font-weight:bold;') Parent
                                if (user.Type=='T')
                                    p(style='font-size: 1.3rem; font-weight:bold;') Teacher
                            hr
                            button.btn.btn-success.btn-sm(type='button',onclick="window.open('/adduser/"+ user.Id +"', 'newwindow', 'width=400, height=350'); return false;") Add to Group
                   
                
            #admin.tab-pane.fade.show(role='tabpanel', aria-labelledby='Admin-tab')
                each request, i in requestList
                    .row
                        .col-md-8.col-6
                            p= 'A request from '+ request.FirstName + ' '+ request.LastName + ': '
                            p= '\"I would like to add into '+ request.Title + '.\"'
                            form(action='/requests', method='post')
                                input(type='hidden', name='GroupId', value= request.GroupId)
                                input(type='hidden', name='Title', value= request.Title)
                                input(type='hidden', name='UserId', value= request.UserId)
                                input(type='hidden', name='RequestId', value= request.RequestId)
                                input.btn.btn-outline-success.my-2.my-sm-0(type='submit', name='handler', value='Accept',style='height: 40px; width: 100px')
                                input.btn.btn-outline-success.my-2.my-sm-0(type='submit', name='handler', value='Reject',style='height: 40px; width: 100px')
                            
                    hr
                                            //- .row
                                            //-     .col-sm-3.col-md-2.col-5
                                            //-         label(style='font-weight:bold;') Something
                                            //-     .col-md-8.col-6
                                            //-         | Something
                                            //- hr
                                            //- .row
                                            //-     .col-sm-3.col-md-2.col-5
                                            //-         label(style='font-weight:bold;') Something
                                            //-     .col-md-8.col-6
                                            //-         | Something
                                            
                
//- br
//- h2 #{title}
//- each item, i in userArr
//-     p= item
    //-   h4 Group Chat
    //-   form(action='/action_page.php', method='get')
    //-     each user, i in userList
    //-       .row
    //-           .col-md-8.col-6
    //-               input(type='checkbox', name='vehicle', value='Bike')
    //-               text= user[1] + ' ' + user[2]
    //-       hr
    //-     input.btn.btn-primary(type='submit', value='Group Chat')